table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.no-results {
    text-align: center;
    margin-top: 20px;
}
.button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .button-choix {
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-choix:hover {
    background-color: #e0e0e0;
  }
  
  .next-button {
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .next-button:hover {
    background-color: #45a049;
  }
  

@media screen and (max-width: 600px) {
    .dropbtn {
        font-size: 14px;
        padding: 8px;
    }

    .dropdown-content a {
        font-size: 12px;
    }
}
